USE [Trains]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 12/17/2012 10:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[discount](
	[train_id] [varchar](30) NULL,
	[d1] [int] NULL,
	[d2] [int] NULL,
	[d3] [int] NULL,
	[d4] [int] NULL,
	[d5] [int] NULL,
	[d6] [int] NULL,
	[d7] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[discount] ([train_id], [d1], [d2], [d3], [d4], [d5], [d6], [d7]) VALUES (N'551', 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[discount] ([train_id], [d1], [d2], [d3], [d4], [d5], [d6], [d7]) VALUES (N'605', 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[discount] ([train_id], [d1], [d2], [d3], [d4], [d5], [d6], [d7]) VALUES (N'103', 0, 0, 0, 0, 0, 0, 0)
GO
print 'Processed 100 total records'
