USE [Trains]
GO
/****** Object:  Table [dbo].[timeline]    Script Date: 12/17/2012 10:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[timeline](
	[timeline_id] [int] NOT NULL,
	[train_id] [int] NOT NULL,
	[timeline_time] [varchar](30) NULL,
	[timeline_station] [varchar](30) NULL,
 CONSTRAINT [PK_timeline] PRIMARY KEY NONCLUSTERED 
(
	[timeline_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[timeline_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[timeline] ([timeline_id], [train_id], [timeline_time], [timeline_station]) VALUES (1, 551, N'06:30', N'台中')
INSERT [dbo].[timeline] ([timeline_id], [train_id], [timeline_time], [timeline_station]) VALUES (2, 551, N'06:57', N'嘉義')
INSERT [dbo].[timeline] ([timeline_id], [train_id], [timeline_time], [timeline_station]) VALUES (3, 551, N'07:17', N'台南')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
