USE [Trains]
GO
/****** Object:  Table [dbo].[trains]    Script Date: 12/17/2012 10:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trains](
	[train_id] [int] NOT NULL,
	[train_type] [varchar](30) NULL,
	[train_direction] [varchar](30) NULL,
	[train_line] [int] NULL,
	[note] [varchar](30) NULL,
	[d1] [int] NULL,
	[d2] [int] NULL,
	[d3] [int] NULL,
	[d4] [int] NULL,
	[d5] [int] NULL,
	[d6] [int] NULL,
	[d7] [int] NULL,
 CONSTRAINT [PK_trains] PRIMARY KEY NONCLUSTERED 
(
	[train_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[trains] ([train_id], [train_type], [train_direction], [train_line], [note], [d1], [d2], [d3], [d4], [d5], [d6], [d7]) VALUES (103, N'高鐵', N'南下', NULL, N'', 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[trains] ([train_id], [train_type], [train_direction], [train_line], [note], [d1], [d2], [d3], [d4], [d5], [d6], [d7]) VALUES (110, N'高鐵', N'北上', NULL, N'', 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[trains] ([train_id], [train_type], [train_direction], [train_line], [note], [d1], [d2], [d3], [d4], [d5], [d6], [d7]) VALUES (111, N'高鐵', N'南下', NULL, N'', 1, 1, 1, 1, 1, 1, 1)
GO
print 'Processed 100 total records'
